<template>
    <div class="CountryPicker">
        <cv-tag
            v-for="code in selectedCountryCodes"
            :key="code"
            kind="filter"
            :label="code"
            @remove="$emit('countryCodeDeselected', code)"
        />

        <cv-button kind="primary" @click="$emit('countryCodesReset')">
            Reset
        </cv-button>
    </div>
</template>

<script>
import {
    CvTag,
    CvButton,
} from '@carbon/vue'

export default {
    name: 'CountryPicker',

    components: {
        CvTag,
        CvButton,
    },

    props: ['selectedCountryCodes'],
}
</script>

<style>

</style>