<template>
    <div class="DataSelection">
        <form>
            <div>
                <label>Start Date</label>
                <input type="date" @change="$emit('startDateChanged', $event.target.value)">
            </div>
            <div>
                <label>End Date</label>
                <input type="date" @change="$emit('endDateChanged', $event.target.value)">
            </div>
            <div>
                <label>Countries</label>
                <country-picker
                    :selectedCountryCodes="selectedCountryCodes"
                    @countryCodeDeselected="onCountryCodeDeselected"
                    @countryCodesReset="onCountryCodesReset"
                />
            </div>
        </form>
    </div>
</template>

<script>
import CountryPicker from '@/components/CountryPicker.vue'

export default {
    name: 'DataSelection',

    components: {
        CountryPicker,
    },

    props: [
        'selectedCountryCodes'
    ],

    methods: {
        onCountryCodeDeselected(code) {
            this.$emit('countryCodeDeselected', code);
        },

        onCountryCodesReset() {
            this.$emit('countryCodesReset');
        },
    },
}
</script>

<style>
.cv-tag {
    margin: 0 10px;
    border-radius: 2px;
    color: #0043ce;
    background-color: #d0e2ff;
}
</style>
