<template>
    <div class="DataTable">
        <cv-data-table
            :columns="columns"
            :data="data"
            ref="table"
            :style="{ width: '100%', height: '100%' }"
        />
    </div>
</template>

<script>
import { CvDataTable } from '@carbon/vue'

export default {
    name: 'DataTable',

    components: {
        CvDataTable,
    },

    props: [
        'columns',
        'data',
    ],
}
</script>

<style>
.DataTable {
    margin: 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.cv-data-table {
    width: 100%;
    height: 100%;
}

.bx--data-table-container {
    width: 100%;
    height: 100%;
}
</style>
