<template>
    <div id="datachart"></div>
</template>

<script>
export default {
    name: 'DataChart',

    props: ['columns', 'data'],

    computed: {
        chartData() {
            const chartData = [];

            this.data.forEach(row => {
                const newRow = [];
                row.forEach((column, index) => {
                    if (index === 0) {
                        newRow.push(new Date(column));
                    } else if (index === 1) {
                        // Do nothing
                    } else {
                        newRow.push(column);
                    }
                });
                chartData.push(newRow);
            });

            return chartData;
        },

        // googleChartDataTable() {
        //     const googleChartDataTable = new window.google.visualization.DataTable();
        //     this.columns.forEach(columnName => {
        //         if (columnName === 'date') {
        //             googleChartDataTable.addColumn('date', columnName);
        //         } else if (columnName === 'hour') {
        //             // Do nothing
        //         } else {
        //             googleChartDataTable.addColumn('number', columnName);
        //         }
        //     });
        //     googleChartDataTable.addRows(this.chartData);
        //     return googleChartDataTable;
        // },
    },

    // watch: {
    //     googleChartDataTable: function(newGoogleChartDataTable) {
    //         const chart = new window.google.visualization.ScatterChart(
    //             document.getElementById('datachart')
    //         );
    //         const options = {
    //             title: 'Prices',
    //             width: 800,
    //             height: 700,
    //             curveType: 'function',
    //         };
    //         chart.draw(newGoogleChartDataTable, options);
    //     },
    // },

    methods: {
        drawChart() {
            const data = new window.google.visualization.DataTable();
            this.columns.forEach(columnName => {
                if (columnName === 'date') {
                    data.addColumn('date', columnName);
                } else if (columnName === 'hour') {
                    // Do nothing
                } else {
                    data.addColumn('number', columnName);
                }
            });
            data.addRows(this.chartData);
            const chart = new window.google.visualization.ScatterChart(
                document.getElementById('datachart')
            );
            const options = {
                title: 'Prices',
                width: 800,
                height: 700,
                curveType: 'function',
            };
            chart.draw(data, options);
        },
    },

    created() {
        window.google.charts.setOnLoadCallback(this.drawChart);
    },

    updated() {
        this.drawChart();
    }
}
</script>

<style>
#datachart {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 800px;
    height: 700px;
}
</style>
