<template>
    <div class="MainDashboard">
        <div class="MainDashboard__left">
            <data-selection
                :selectedCountryCodes="selectedCountryCodes"
                @startDateChanged="onStartDateChanged"
                @endDateChanged="onEndDateChanged"
                @countryCodeDeselected="onCountryCodeDeselected"
                @countryCodesReset="onCountryCodesReset"
                class="MainDashboard__selection"
            />
            <button @click="showChart">Show Chart</button>
            <button @click="hideChart">Hide Chart</button>
            <data-table
                v-if="dataPopulated"
                :columns="columns"
                :data="data"
                class="MainDashboard__table"
            />
        </div>
        <div class="MainDashboard__right">
            <data-chart
                v-if="hasDisplayedChart"
                :columns="columns"
                :data="data"
                class="MainDashboard__chart"
            />
                <!-- :class="{'MainDashboard__chart--displayed': hasDisplayedChart}" -->
        </div>
    </div>
</template>

<script>
import DataSelection from '@/components/DataSelection.vue'
import DataTable from '@/components/DataTable.vue'
import DataChart from '@/components/DataChart.vue'

export default {
    name: 'MainDashboard',

    components: {
        DataSelection,
        DataTable,
        DataChart,
    },

    data() {
        return {
            selectedStartDate: '',
            selectedEndDate: '',
            selectedCountryCodes: [],

            table: [],

            hasDisplayedChart: false,
        };
    },

    computed: {
        dataURL() {
            const selectString = 'date,hour,' + this.selectedCountryCodes.map(code => {
                return code.toLowerCase();
            }).map(code => {
                return code + '_price';
            }).join(',');

            const startDateString = this.selectedStartDate
                ? `gte.${this.selectedStartDate}`
                : ``;

            const endDateString = this.selectedEndDate
                ? `lte.${this.selectedEndDate}`
                : ``;

            const dateString = (startDateString && endDateString)
                ? `date=${startDateString}&date=${endDateString}`
                : (startDateString
                    ? `date=${startDateString}`
                    : (endDateString
                        ? `date=${endDateString}`
                        : ''
                    )
                )
            ;

            const dataURL = `${this.$_apiURL}/price_groups?${dateString}&select=${selectString}&order=date.asc,hour.asc`;

            return dataURL;
        },

        columns() {
            return Object.keys(this.table[0]);
        },

        data() {
            const data = [];
            this.table.forEach(row => {
                const rowAsArray = [];
                Object.keys(row).forEach(columnName => {
                    rowAsArray.push(row[columnName]);
                });
                data.push(rowAsArray);
            });
            return data;
        },

        dataPopulated() {
            return this.table.length > 0 ? true : false;
        },
    },

    watch: {
        dataURL: function(newDataURL) {
            this.fetchTable(newDataURL);
        }
    },

    methods: {
        onStartDateChanged(newStartDate) {
            this.hideChart();
            this.selectedStartDate = newStartDate;
        },

        onEndDateChanged(newEndDate) {
            this.hideChart();
            this.selectedEndDate = newEndDate;
        },

        onCountryCodeDeselected(code) {
            this.hideChart();
            const index = this.selectedCountryCodes.indexOf(code);
            this.selectedCountryCodes.splice(index, 1);
            // this.showChart();
        },

        async onCountryCodesReset() {
            // this.selectedCountryCodes = ['BE', 'CH', 'CZ', 'DE_AT', 'DK1', 'DK2', 'ES', 'FR', 'NL'];
            await this.fetchCountryCodes();
        },

        showChart() {
            this.hasDisplayedChart = true;
        },

        hideChart() {
            this.hasDisplayedChart = false;
        },

        async fetchTable() {
            try {
                const response = await fetch(this.dataURL);
                const table = await response.json();
                table.forEach(row => {
                    row.hour = `${row.hour.toString().padStart(2, '0')}:00`;
                });
                this.table = table;
            } catch (error) {
                console.error(error);
            }
        },

        async fetchCountryCodes() {
            try {
                const response = await fetch(`${this.$_apiURL}/country_codes`);
                const table = await response.json();
                const selectedCountryCodes = [];
                table.forEach(row => {
                    selectedCountryCodes.push(row.code);
                });
                this.selectedCountryCodes = selectedCountryCodes;
            } catch (error) {
                console.error(error);
            }
        },
    },

    async mounted() {
        try {
            await this.fetchCountryCodes();
            await this.fetchTable();
        } catch (error) {
            console.error(error);
        }
    },
}
</script>

<style>
.MainDashboard {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

.MainDashboard__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    margin-bottom: 30px;
}

.MainDashboard__right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.MainDashboard__selection {
    width: 100%;
    height: 120px;
}

.MainDashboard__table {
    width: 100%;
    height: calc(100% - 120px);
    overflow: scroll;
    border: solid 1px black;
}

.MainDashboard__chart {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.MainDashboard__chart--displayed {
    display: block;
}
</style>
