<template>
    <div id="app">
        <MainDashboard />
    </div>
</template>

<script>
import MainDashboard from '@/views/MainDashboard.vue';

export default {
    name: 'App',

    components: {
        MainDashboard
    },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

table {
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: solid 1px black;
}

button {
    margin: 0 5px;
    height: 30px;
    border: 0;
    color: white;
    background-color: rgb(15, 98, 254);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

button:hover {
    background-color: rgb(11, 71, 182);
}

#app {
    width: 100vw;
    height: 100vh;
}
</style>
